<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>Assignment 4:</title>
	</head>
<body>
<h1>Assignment 4: </h1>

<h2>Overview:</h2>

<p>This program provide a simply command line interface. The interface can guide user to execute a series of SQL queries.</p>

<p>The main logic inside the interface is straightforward. Once an option is selected, we execute the corresponding function </p>

<p>to solve it. The program can finish the following tasks:</p>

<ul>
	<li>Given a range of years and crime type, show (in a bar plot) the month-wise total count of the given crime type. </li>
	<li>Given an integer N, show (in a map) the N-most populous and N-least populous neighborhoods with their population count. </li>
	<li>Given a range of years, a crime type and an integer N, show (in a map) the Top-N neighborhoods and their crime count where the given crime type occurred most within the given range. </li>
	<li>Given a range of years and an integer N, show (in a map) the Top-N neighborhoods with the highest crimes to population ratio within the provided range. Also, show the most frequent crime type in each of these neighborhoods. </li>
</ul>

<h2>User Guides:</h2>

<p>Enter the following commands in any command line tool.</p>

<pre><code>python3 a4.py</code></pre>

<p>a. enter your choice from 3 options </p>

<ul>
	<li><code>1</code> &lt;==&gt; represent &#39;question1&#39;</li>
	<li><code>2</code> &lt;==&gt; represent &#39;question2&#39;</li>
	<li><code>3</code> &lt;==&gt; represent &#39;question3&#39;</li>
</ul>

<p>b. Enter your choice base on the prompt     </p>

<p>c. Get the output</p>

<p>d Enter <code>e</code> to exit </p>

<h3>Class Interface:</h3>

<h4>Function:</h4>

<ul>
	<li>main<em>interface(self): &lt;br /&gt;
		</em></li>
</ul>

<p> The function <code>main_interface</code> is called by default, which means that the main interface will be displayed </p>

<p>immediately if the program is executed.(or another task is finished) The main interface can provide 5 options for user.</p>

<p>are for tasks and another one is for exiting the program. Once the user enter a valid number, we will execute the corresponding</p>

<p>function.</p>

<hr />

<h3>Class Database(path):</h3>

<h3>Functions</h3>

<ul>
	<li> <code>def question1(self)</code>:

		<ul>
			<li>Finish Task 1</li>
		</ul></li>
	<li> <code>def question2(self)</code>: 

		<ul>
			<li>Finish Task 2</li>
		</ul></li>
	<li> <code>def question3(self)</code>: 

		<ul>
			<li>Finish Task 3</li>
		</ul></li>
</ul>

<h2>Test Strategy:</h2>

<p>Description: We divide the test into two parts. The first part is whether the test program can complete the basic tasks. In the second part we enter any characters to ensure that the program does not crash.</p>

<h3>First part:Make sure the program can correctly finish those tasks</h3>

<ul>
	<li>pre-step: We import a sample database called <code>new.db</code></li>
	<li>Step 1: We then opened it with both the program and DB browser. For example, we first enter information according to the prompt of the topic on the e-class. Then run our program and get the results. </li>
	<li>Step 2: Next, according to the database information in the DB browser, manually filter the results we want and compare them with the results given by the program to check whether they are consistent. Once the results are different, we will discuss and solve it.</li>
</ul>

<h3>2nd part: Make sure the program can be executed without any bug.</h3>

<ul>
	<li>General Idea: We uses some unsatisfactory input to test the usability of this program to make sure it doesn&#39;t crash. </li>
	<li>Case 1: If the program ask us to enter an integer number, we will try to enter some character. Program will catch the errors and throw an error message.</li>
	<li>Case 2: If the program ask us to pick an options from the following list, we will enter an invalid number.Program will catch the errors and throw an error message.</li>
	<li>Case 3: If the user want to find a specific info but enter a invalid name. The program can tell the user the valid name list. </li>
</ul>

</body>
</html>

