<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_58a70bc649b944b4baace63ab410dcc7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_58a70bc649b944b4baace63ab410dcc7" ></div>
        
</body>
<script>    
    
            var map_58a70bc649b944b4baace63ab410dcc7 = L.map(
                "map_58a70bc649b944b4baace63ab410dcc7",
                {
                    center: [53.5444, -113.323],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_caf946c425c74f429c701400aa54707c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_58a70bc649b944b4baace63ab410dcc7);
        
    
            var circle_8e185eecd3a943549868a91db27566b1 = L.circle(
                [53.41761616, -113.4601568],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1131.4, "stroke": true, "weight": 3}
            ).addTo(map_58a70bc649b944b4baace63ab410dcc7);
        
    
        var popup_fd023e3229b643598a82987578f0f81c = L.popup({"maxWidth": "100%"});

        
            var html_6f3335b295874697bad490df45472002 = $(`<div id="html_6f3335b295874697bad490df45472002" style="width: 100.0%; height: 100.0%;">SUMMERSIDE <br> Population: 11314</div>`)[0];
            popup_fd023e3229b643598a82987578f0f81c.setContent(html_6f3335b295874697bad490df45472002);
        

        circle_8e185eecd3a943549868a91db27566b1.bindPopup(popup_fd023e3229b643598a82987578f0f81c)
        ;

        
    
    
            var circle_fc26eb4415984840807432d7cf07a8f3 = L.circle(
                [53.50807597, -113.4161185],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7.0, "stroke": true, "weight": 3}
            ).addTo(map_58a70bc649b944b4baace63ab410dcc7);
        
    
        var popup_b6b87dfe3b8944abb3dae1d4345d10c5 = L.popup({"maxWidth": "100%"});

        
            var html_20985fd4f37544a8be00dae0828da28e = $(`<div id="html_20985fd4f37544a8be00dae0828da28e" style="width: 100.0%; height: 100.0%;">WEIR INDUSTRIAL <br> Population: 70</div>`)[0];
            popup_b6b87dfe3b8944abb3dae1d4345d10c5.setContent(html_20985fd4f37544a8be00dae0828da28e);
        

        circle_fc26eb4415984840807432d7cf07a8f3.bindPopup(popup_b6b87dfe3b8944abb3dae1d4345d10c5)
        ;

        
    
</script>