<html>
<head>
  <title>Task1</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body style="text-align:center;">
    <a href="http://localhost:5000/"> Homepage || </a>
    <a href="/index">Readme </a>
    <br><br>
    <hr>
    <center>
    <form action="/q2" method="post">
    <p><input name="n"      placeholder="numbers"></p>
    <p><button type="submit">Submit</button></p>
    </form>
    <br><br>
    <hr>
    <h2>Description:</h2>
    <p>Given an integer N, show (in a map) the N-most populous and N-least populous neighborhoods with their population count.</p>

    </center>
</body>
</html>